<ul>
    <!-- <li>
        <a routerLink="/expedientes/buscar">
            Buscar expediente
        </a>
    </li>

    <li>
        <a routerLink="/expedientes/expediente">
            Ir a expediente
        </a>
    </li>

    <li>
        <a routerLink="/expedientes/generar">
            Generar expediente
        </a>
    </li> -->

    <!-- <li>
        <a routerLink="/expedientes/home">
            Ir a mi hogar
        </a>
    </li> -->

    <li>
        <a routerLink="/expedientes/mis-expedientes">
            Ir a mis expedientes
        </a>
    </li>
</ul>